:root {
  --background-color: #202020;
  --primary-color: #ffffff;
  --accent-color: #f65282;
  --footer-background: #282323;
  --default-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Montserrat", sans-serif;
}
body {
  background-color: var(--background-color);
  font-family: var(--default-font-family);
  text-align: center;
  color: var(--primary-color);
}
h1 {
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 25px;
  margin-top: 25px;
}
footer {
  padding: 40px 0;
  background: var(--footer-background);
}
.navbar-branding {
  font-family: var(--default-font-family);
  background-color: var(--background-color);
}
.navbar-name {
  font-weight: 700;
}
.navigation {
  display: flex;
  justify-content: flex-end;
}
.hero {
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/039/834/original/Dasha.jpg?1657304932);
  background-position: center;
  background-size: cover;
}
.hero h2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 98px;
}
.hero p {
  font-weight: 700;
  font-size: 24px;
  padding-top: 276px;
}
.main-photo {
  margin-top: 56px;
  padding: 0;
  text-align: left;
}
.about-content {
  margin-top: 56px;
  margin-right: 140px;
}
.about-content h2 {
  font-size: 16px;
  color: var(--accent-color);
  text-align: left;
  padding-top: 25px;
  line-height: 21px;
  letter-spacing: 0.1em;
}
.about-content h1 {
  font-size: 60px;
  letter-spacing: 0.1em;
  text-align: left;
}
.about-content p {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}
.about-content section {
  text-align: left;
  letter-spacing: 2em;
  padding-bottom: 50px;
}
.btn-contact {
  text-align: left;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 50px;
  font-family: var(--secondary-font-family);
  font-weight: 700px;
  font-size: 14px;
  padding: 18px 40px;
  margin-bottom: 251px;
}
.btn-branding-launch {
  border-radius: 50px;
  font-family: var(--secondary-font-family);
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 700px;
  font-size: 14px;
  padding: 18px 40px;
}
.btn-branding-launch:hover {
  color: var(--background-color);
  background: var(--primary-color);
}
.portfolio-cover {
  border-radius: 40px;
}
.footer-icons {
  display: flex;
  justify-content: space-evenly;
  font-size: 16px;
}
.social-link {
  text-decoration: none;
  color: var(--primary-color);
}
.social-link:hover {
  color: var(--primary-color);
}
.git-link {
  text-decoration: none;
  color: var(--accent-color);
}
.git-link:hover {
  color: var(--primary-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  .footer-name,
  .footer-link {
    font-size: 12px;
  }
  .hero h2 {
    font-size: 18px;
    margin: 0 25px 48px;
  }
  .hero p {
    padding-top: 100px;
  }

  .btn-branding {
    margin-bottom: 60px;
  }
  .about-content {
    margin-right: 0;
  }
  .about-content h2 {
    text-align: center;
  }
  .about-content h1 {
    text-align: center;
    font-size: 48px;
  }
  .about-content p {
    text-align: center;
  }
  .about-content section {
    text-align: center;
  }
  .btn-contact {
    text-align: center;
  }
}
@media (max-width: 535px) {
  .hero {
    background-image: none;
  }
}
